body{
	padding-top: 40px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.container{
	max-width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.anim{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height:5px;
	background-color: lightgrey;
	position: relative;
	animation-name: tbar;
	animation-duration: 4s;
	animation-direction:  alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centered{
	text-align: center;
}

.bg-white{
	background-color: white;
}
/* main.html */

.no-margin{
	margin: -26px;
}
.head{
	font-family: 'Lato', serif;
}

.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9{
	display: none;
}

	

@keyframes tbar {
    0%   { left:-151px; top:0px;}
    100% { left:154px; top:0px;}
    

    
    

