{% extends 'base.html' %}
{% from "macros.html" import render_field %}


{% block body %}
	<div class="container">
		<div class="w3-card-4 c-card">
			<div class="w3-container w3-brown">
			  	<h2>Insert a Meal</h2>
			</div>
			<form class="w3-container block-center" method='POST' action='/insert/' enctype="multipart/form-data" >
				<dl>
					{{ form.csrf_token() }}
					<div class="center">
						<dd >
						 	<label class="w3-label w3-validate" for="name">Name: </label> 
						 	<input class="w3-input w3-border w3-light-grey" id="name" name="name" type="text" value="" required>
						</dd>
						<dd >
							<label class=" w3-label w3-validate" for="instructions">Instructions: </label> 
							<textarea id="instructions" name="instructions" required ></textarea>  
						</dd >
						<div class="w3-row-padding">
							<div class="w3-col l4 m4 center">
								<dd>
									<label for="breakfast">Breakfast: </label> 
									<input id="breakfast" name="breakfast" type="checkbox" value="y">  
								</dd>
							</div>
							<div class="w3-col l4 m4 center">
								<dd>
									<label for="lunch">Lunch: </label> 
									<input id="lunch" name="lunch" type="checkbox" value="y">
								</dd>
							</div>
							<div class="w3-col l4 m4 center">
								<dd>
									<label for="dinner">Dinner: </label> 
									<input id="dinner" name="dinner" type="checkbox" value="y">
		  						 </dd>
		  					</div>
	  					</div>
						<div class="w3-row-padding">
							<dd>
								{% for i in range(10)%}
									<div class="w3-row-padding row{{i}}" id="row{{i}}">
										<div class="w3-col l4 m4">
											<input class="w3-input w3-border w3-light-grey" id="ingrediants-{{ i }}" name="ingrediants-{{ i }}" type="text" value="" placeholder="Ingrediant">
										</div>
									
										<div class="w3-col l4 m4"> 
											<input class="w3-input w3-border w3-light-grey w3-validate" id="ammounts-{{ i }}" name="ammounts-{{ i }}" type="text" value="" placeholder="Quantity">
										</div>
									
										<div class="w3-col l3 m3">
											<select class="w3-select w3-border" id="measurements-{{ i }}" name="measurements-{{ i }}">
												<option value="" disabled selected>Measurement</option>
												<option value="Gallon">Gallon</option>
												<option value="Litre">Litre</option>
												<option value="Milliliter">Milliliter</option>
												<option value="Pint">Pint</option>
												<option value="Cup">Cup</option>
												<option value="Fluid ounce">Fluid ounce</option>
												<option value="Pound">Pound</option>
												<option value="ounce">ounce</option>
												<option value="Table spoon">Table spoon</option>
												<option value="Tea spoon">Tea spoon</option>
												<option value="Inch">Inch</option>
												<option value="Centimeter">Centimeter</option>
												<option value="Piece">Piece</option>
												<option value="Dozen">Dozen</option>
											</select>
										</div>
										<div class="w3-col l1 m1">
											<button class="w3-btn" id="btn{{ i }}" style="width: 100%; height: 100%;" onclick="" type="button">Add</button>
										</div>
									</div>
								{% endfor %}
							</dd>
						</div>
						<dd>
							<br />
							<input class="w3-btn" id="submit" name="submit" type="submit" value="Submit" style="width: 100%;">	
						</dd>
					</div>
				</dl>
			</form>
		</div>
	</div>
	<script>
	$(document).ready(function(){
		{% for i in range(10): %}
			$("#btn{{i}}").click(function(){
				$("#row{{ i + 1 }}").removeClass("row{{ i + 1}}");
				$("#btn{{i}}").addClass("row1");
			});
		{% endfor %}
	});
	</script>
{% endblock %}
