{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{%  block body %}
<div class="w3-content" style="max-width:1000px">
	<div class="w3-card-4 c-card ">
		<div class="w3-container w3-brown">
		  	<h2>Login</h2>
		</div>
		<form class="w3-container block-center" method='POST' action='/login' enctype="multipart/form-data" style=" max-width: 600px;">
			<dl>
				{{ form.csrf_token() }}
				<dt>
					<label for="email">Email Address: </label>
				</dt>
				<dd class="">
					<label for="email">Email Address: </label>
					<input id="email" name="email" value="" type="text">
				</dd>
				<dt>
					<label for="password">Password: </label>
				</dt>
				<dd class="">
					<label for="password">Password: </label>
					<input id="password" name="password" value="" type="password">
				</dd>
				
			</dl>
			{{ render_field(form.submit) }}
		</form>
	</div>
</div>
{% endblock %}
